﻿@model  GuildCars.UI.Models.IndexPageViewModel

@{
    ViewBag.Title = "Dealership Home Page";
}

<title>HTML Reference</title>

<div class="jumbotron" style="padding: 0px; background-color: black;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @{
                int counter1 = 0;
                foreach (var special in Model.SpecialItem)
                {
                    if (counter1 == 0)
                    {
                        <li data-target="#myCarousel" data-slide-to="@counter1" class="active">
                        </li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@counter1">
                        </li>
                    }
                    counter1++;
                }
            }
        </ol>

        <a href="Home/Special">
            <div class="carousel-inner">
                @{
                    int counter2 = 0;
                    foreach (var special in Model.SpecialItem)
                    {
                        if (counter2 == 0)
                        {
                            <div class="item active" id="SpecialItemImage">
                                <img src="@Url.Content("~/Images/" + special.SpecialImageFileName)" class="img-responsive" />
                                <div class="carousel-caption">
                                    <h3>@special.SpecialName</h3>
                                    <p>@special.SpecialDescription</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item" id="SpecialItemImage">
                                <img src="@Url.Content("~/Images/" + special.SpecialImageFileName)" class="img-responsive" />
                                <div class="carousel-caption">
                                    <h3>@special.SpecialName</h3>
                                    <p>@special.SpecialDescription</p>
                                </div>
                            </div>
                        }


                        counter2++;
                    }
                }
            </div>
        </a>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Featured Vehicles</h3>
        @foreach(var vehicle in Model.featuredVehicleItem)
        {
            <div class="col-xs-12 col-sm-4 col-md-3">
                <p id="featuredVehicle"><img src="@Url.Content("~/Images/" + vehicle.ImageFileName)"/></p>
                <p id="featuredVehicle">@vehicle.VehicleYear @vehicle.MakeName @vehicle.ModelName</p>
                <p id="featuredVehicle">@vehicle.Price.ToString("c")</p>
                <p id="featuredVehicle">@Html.ActionLink("view details", "Details", "Inventory", new { vinNumber = vehicle.VinNumber}, null)</p>
            </div>
        }
    </div>
</div>