﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#featuredVehicle {
    text-align: center;
}

#featuredVehicle img {
    width: 200px;
    height: 100px;
}

#editImage img {
    width: 300px;
    height: 200px;
}

#logoImage img {
    width: 40px;
    height: 40px;
    margin-top: 5px
}

#SpecialItemImage img {
    width: 300px;
    height: 300px;
}

#DetailsImage img{
    width: 250px;
    height: 150px;
}

#reportTable{
    width: 50%
}

#reportTable tr:nth-child(even) {
    background: #CCC;
}

#reportTable, #reportTh, #reportTd {
    border: 2px solid black;
}