﻿@model GuildCars.Models.Queries.VehicleDetailItem

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Vehicle Details</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>@Model.VehicleYear @Model.MakeName @Model.ModelName</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3" id="DetailsImage">
        <img src="@Url.Content("~/Images/" + Model.ImageFileName)"/>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        <table>
            <tbody>
                <tr>
                    <td style="text-align: right"><strong>Body Style:</strong></td>
                    <td>@Model.BodyStyleName</td>
                </tr>
                <tr>
                    <td style="text-align: right"><strong>Trans:</strong></td>
                    <td>@Model.TransmissionName</td>
                </tr>
                <tr>
                    <td style="text-align: right"><strong>Color:</strong></td>
                    <td>@Model.ExteriorColorName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        <table>
            <tbody>
                <tr>
                    <td style="text-align: right"><strong>Interior:</strong></td>
                    <td>@Model.InteriorName</td>
                </tr>
                <tr>
                    <td style="text-align: right"><strong>Milage:</strong></td>
                    <td>@Model.Milage</td>
                </tr>
                <tr>
                    <td style="text-align: right"><strong>VIN #:</strong></td>
                    <td>@Model.VinNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        <table>
            <tbody>
                <tr>
                    <td style="text-align: right"><strong>Sale Price:</strong></td>
                    <td>@Model.Price.ToString("c")</td>
                </tr>
                <tr>
                    <td style="text-align: right"><strong>MSRP:</strong></td>
                    <td>@Model.MSRP.ToString("c")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
        <table>
            <tbody>
                <tr>
                    <td style="text-align: right"><strong>Description:</strong></td>
                    <td>@Model.ListingDescription</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div>
        
        @if (string.IsNullOrEmpty(Model.PurchaseId.ToString()))
        {
            @Html.ActionLink("Contact Us", "Contact", "Home", new { vinNumber = Model.VinNumber }, new { @class = "btn btn-default", @style = "float: right;" })
        }
        else
        {
            <p style = "float: right;" >Unavailable-Sold</p>
        }

    </div>
</div>