﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("sales"))
{
    <li>
        @Html.ActionLink("Sales", "Index", "sales")
    </li>
}
else if (Request.IsAuthenticated && User.IsInRole("admin"))
{
    <li>
        @Html.ActionLink("Sales", "Index", "sales")
    </li>
    <li>
        @Html.ActionLink("Admin", "admin", "admin")
    </li>
}
else if (Request.IsAuthenticated && User.IsInRole("disable"))
{
    <li>
        Disabled
    </li>
}
else
{
    <li>
        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </li>
}
