﻿@model GuildCars.UI.Models.EditVehicleViewModel

@{
    ViewBag.Title = "Edit Vehicle";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Vehicle</h3>
    </div>
</div>
@using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "frmAddVehicle" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Vehicle.VehicleId)
    @Html.Hidden("CurrentVinNumber", Model.Vehicle.VinNumber)
    <div class="col-xs-12">
        <form>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Makes, "Make", new { @class = "control-label" })
                    @Html.DropDownList("vehicle.MakeId", new SelectList(Model.Makes, "MakeId", "MakeName"), new { @class = "form-control", id = "makeName", onchange = "getModels()" })
                </div>
                <div class="form-group col-md-6">
                    <label for="modelList">Model</label>
                    <select id="modelList" name="vehicle.modelId" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.VehicleTypes, "Type", new { @class = "control-label" })
                    @Html.DropDownList("vehicle.VehicleTypeId", new SelectList(Model.VehicleTypes, "VehicleTypeId", "VehicleTypeName"), new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.BodyStyles, "Body Style", new { @class = "control-label" })
                    @Html.DropDownList("vehicle.BodyStyleId", new SelectList(Model.BodyStyles, "BodyStyleId", "BodyStyleName"), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Vehicle.VehicleYear, "Year", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Vehicle.VehicleYear, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Transmissionns, "Transmission", new { @class = "control-label" })
                    @Html.DropDownList("vehicle.TransmissionId", new SelectList(Model.Transmissionns, "TransmissionId", "TransmissionName"), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.ExteriorColors, "Color", new { @class = "control-label" })
                    @Html.DropDownList("vehicle.ExteriorColorId", new SelectList(Model.ExteriorColors, "ExteriorColorId", "ExteriorColorName"), new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Interiors, "Interior", new { @class = "control-label" })
                    @Html.DropDownList("vehicle.InteriorId", new SelectList(Model.Interiors, "InteriorId", "InteriorName"), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Vehicle.Milage, "Mileage", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Vehicle.Milage, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Vehicle.VinNumber, "VIN #", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Vehicle.VinNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Vehicle.MSRP, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Vehicle.MSRP, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Vehicle.Price, "Sale Price", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Vehicle.Price, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Vehicle.ListingDescription, "Description", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Vehicle.ListingDescription, new { @class = "form-control" })
                </div>
            </div>
            <div id="editImage" class="form-group col-md-12">
                <img src="@Url.Content("~/Images/" + Model.Vehicle.ImageFileName)"  />
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <lable>Picture</lable>
                    <input id="ImageUpload" name="ImageUpload" , type="file" class="form-control" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    @Html.CheckBoxFor(m => m.Vehicle.FeatureVehicle) Feature this vehicle
                </div>                
            </div>
            <div class="col-md-12">
                <div class="form-group col-xs-12">
                    <button class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
}

@using(Html.BeginForm("DeleteVehicle", "Admin", FormMethod.Post))
{
    @Html.Hidden("vehicleId", Model.Vehicle.VehicleId)
    @Html.Hidden("ImageFileName", Model.Vehicle.ImageFileName)
    <div class="col-md-12">
        <div>
            <button class="btn btn-danger" onclick="return confirm('Are you sure that you want to delete this vehicle?');">Delete</button>
        </div>        
    </div>
}

@section scripts
{
    <script>

        $(document).ready(function () {

            $('#frmAddVehicle').validate({
                rules: {
                    'Makes': {
                        required: true
                    },
                    'Models': {
                        required: true
                    },
                    'VehicleTypes': {
                        required: true
                    },
                    'BodyStyles': {
                        required: true
                    },
                    'Vehicle.VehicleYear': {
                        required: true,
                        number: true,
                        minlength: 4
                    },
                    'Transmissionns': {
                        required: true
                    },
                    'ExteriorColors': {
                        required: true
                    },
                    'Interiors': {
                        required: true
                    },
                    'Vehicle.Milage': {
                        required: true,
                        number: true,
                        min: 1
                    },
                    'Vehicle.VinNumber': {
                        required: true,
                        minlength: 17
                    },
                    'Vehicle.Price': {
                        required: true,
                        number: true,
                        min: 1
                    },
                    'Vehicle.MSRP': {
                        required: true,
                        number: true,
                        min: 1
                    },
                    'Vehicle.ListingDescription': {
                        required: true
                    }
                }
            });

            getModels();

        });

        function getModels() {
            var makeId = $('#makeName').val();

            $.ajax({
                type: 'GET',
                url: 'http://agentjay.net/admin/getmodels/' + makeId,
                success: function (results) {
                    $('#modelList').empty();

                    $.each(results, function (index, model) {
                        var html = '<option value="' + model.ModelId + '">' + model.ModelName + '</option>';

                        $('#modelList').append(html.toString());
                    });

                    $('#modelList').val('@Model.Vehicle.ModelId');
                },
                error: function () {

                }
            });
        }
    </script>
}