﻿@model GuildCars.UI.Models.ModelReportViewModel

@{
    ViewBag.Title = "Models";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Models</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("models", "admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary()
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.ModelName, "New Model", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ModelName, new { @class = "form-control" })
                @Html.LabelFor(m => m.Makes, "Make", new { @class = "control-label" })
                @Html.DropDownList("makeId", new SelectList(Model.Makes, "makeId", "makeName"), new { @class = "form-control" })
                <button class="btn btn-default">Save</button>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table id="reportTable">
            <tbody>
                <tr>
                    <th id="reportTh">Make</th>
                    <th id="reportTh">Model</th>
                    <th id="reportTh">Date Added</th>
                    <th id="reportTh">User</th>
                </tr>
                @foreach (var modelItem in Model.ModelList)
                {
                    <tr>
                        <td id="reportTh">@modelItem.MakeName</td>
                        <td id="reportTh">@modelItem.ModelName</td>
                        <td id="reportTh">@modelItem.CreatedDate</td>
                        <td id="reportTh">@modelItem.UserEmail</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>