﻿@model IEnumerable<GuildCars.UI.Models.SalesReportUserItem>

@{
    ViewBag.Title = "SalesReport";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Sales Report</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Filters</p>
        <form id="filterForm" class="form-inline">
            <div class="form-group col-xs-4">
                <label for="user">User</label>
                @Html.DropDownList("userId", new SelectList(Model, "UserId", "Name"), "- All -", new { @class = "form-control", id= "userId" })
            </div>
            <div class="form-group col-xs-4">
                <label for="fromDate">From Date</label>
                <input type="text" name="fromDate" id="fromDate" />
            </div>
            <div class="form-group col-xs-4">
                <label for="toDate">From Date</label>
                <input type="text" name="toDate" id="toDate" />
            </div>
            <div class="form-group col-xs-12">
                <button id="btnSearch" class="btn btn-default">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Search Results</p>
    </div>
</div>
<div class="row">
    <table id="reportTable">
        <tbody id="searchResults">

        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#filterForm").submit(function (e) {
                search();
                return false;                
            });
        });

        function search() {
            var params;

            params = 'userId=' + $('#userId').val() +
                      '&fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val();

            $.ajax({
                type: 'GET',
                url: 'http://localhost:52489/admin/salesreport/search?' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    var table = '<tr>' +
                                    '<th id="reportTh">User</th>' +
                                    '<th id="reportTh">Total Sales</th>' +
                                    '<th id="reportTh">Total Vehicles</th>' +
                               '</tr>';
                    $('#searchResults').append(table.toString());

                    $.each(results, function (index, user) {

                        var html = '<tr>' +
                                        '<td id="reportTd">' + user.FirstName + " " + user.LastName + '</td>' +
                                        '<td id="reportTd">' + '$' + user.TotalSales + '</td>' +
                                        '<td id="reportTd">' + user.TotalVehicles + '</td>' +
                                   '</tr>';
                                   

                        $('#searchResults').append(html.toString());
                    });
                },
                error: function () {
                    alert('Error performing search. Please make sure your date is in a proper date format or try again later!')
                }
            });
        }
    </script>
}