﻿@model GuildCars.UI.Models.SearchFieldsModel

@{
    ViewBag.Title = "Vehicles";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Admin Vehicles</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>@Html.ActionLink("Add a new Vehicle", "addVehicle", "admin")</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label for="quickSearch">Quick Search</label>
        <form id="allSearchForm" class="form-inline">
            <div class="col-xs-12">
                <div class="form-group col-xs-4">
                    <input type="text" placeholder="Enter make, model or year" class="form-control" id="quickSearch" />
                </div>
                <div class="form-group col-xs-4">
                    <label for="minPrice maxPrice">Price</label>
                    @Html.DropDownList("minPrice", new SelectList(Model.MinPriceDropdownValue), "No Min", new { @class = "form-control" })
                    @Html.DropDownList("maxPrice", new SelectList(Model.MaxPriceDropdownValue), "No Max", new { @class = "form-control" })
                </div>
                <div class="form-group col-xs-4">
                    <label for="minYear maxYear">Year</label>
                    @Html.DropDownList("minYear", new SelectList(Model.YearDropDownValue), "No Min", new { @class = "form-control" })
                    @Html.DropDownList("maxYear", new SelectList(Model.YearDropDownValue), "No Max", new { @class = "form-control" })
                </div>
            </div>
            <button id="btnSearch" class="btn btn-default">Search</button>
        </form>
    </div>
</div>
<br />
<div class="row" id="searchResults">

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#allSearchForm").submit(function (e) {
                search();
                return false;
            });
        });

        function search() {
            var params;
            var imagePath = '@Url.Content("~/Images/")';
            var editPath = '@Url.Action("EditVehicle", "Admin")?';

            params = 'quickSearch=' + $('#quickSearch').val() +
                      '&minPrice=' + $('#minPrice').val() + '&maxPrice=' + $('#maxPrice').val() +
                       '&minYear=' + $('#minYear').val() + '&maxYear=' + $('#maxYear').val();

            $.ajax({
                type: 'GET',
                url: 'http://localhost:52489/admin/vehicle/search?' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    $.each(results, function (index, vehicle) {
                        if (vehicle.Milage < 1000) {
                            vehicle.Milage = "New";
                        }

                        var html ='<div class="col-xs-12">' +
                                       '<div class="col-md-12">' +
                                            '<p>' + vehicle.VehicleYear + " " + vehicle.MakeName + " " + vehicle.ModelName + '</p>' +
                                       '</div>' +
                                       '<div class="col-xs-12 col-sm-4 col-md-3" id="DetailsImage">' +
                                           '<img src="' + imagePath + vehicle.ImageFileName + '"/>' +
                                       '</div>' +
                                       '<div class="col-xs-12 col-sm-4 col-md-3">' +
                                           '<table>' +
                                               '<tbody>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>Body Style:</strong></td>' +
                                                       '<td> ' + vehicle.BodyStyleName + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>Trans:</strong></td>' +
                                                       '<td> ' + vehicle.TransmissionName + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>Color:</strong></td> ' +
                                                       '<td> ' + vehicle.ExteriorColorName + '</td>' +
                                                   '</tr>' +
                                               '</tbody>' +
                                           '</table>' +
                                       '</div>' +
                                       '<div class="col-xs-12 col-sm-4 col-md-3">' +
                                           '<table>' +
                                               '<tbody>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>Interior:</strong></td>' +
                                                       '<td> ' + vehicle.InteriorName + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>Milage:</strong></td>' +
                                                       '<td>' + vehicle.Milage + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>VIN #:</strong></td>' +
                                                       '<td> ' + vehicle.VinNumber + '</td>' +
                                                   '</tr>' +
                                               '</tbody>' +
                                           '</table>' +
                                       '</div>' +
                                       '<div class="col-xs-12 col-sm-4 col-md-3">' +
                                           '<table>' +
                                               '<tbody>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>Sale Price:</strong></td>' +
                                                       '<td> ' + '$' + vehicle.Price + '</td>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td style="text-align: right"><strong>MSRP:</strong></td>' +
                                                       '<td> ' + '$' + vehicle.MSRP + '</td>' +
                                                   '</tr>' +
                                                        '<td>  ' +
                                                        '</td>' +
                                                   '<tr>' +
                                                   '</tr>' +
                                                   '<tr>' +
                                                       '<td><button class="btn btn-default"><a href="' + editPath + "vinNumber=" + vehicle.VinNumber + '">Edit</a></button></td>' +
                                                   '</tr>' +
                                               '</tbody>' +
                                           '</table>' +
                                       '</div>' +
                                '</div>' +
                                '<hr>';

                        $('#searchResults').append(html.toString());
                    });
                },
                error: function () {
                    alert('Error performing search, try again later!')
                }
            });
        }
    </script>
}